<!DOCTYPE html>
<html lang="en" ⚡>
  
  <head>
    
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1"/>
    
    <!-- Title and SEO tags -->
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="{{ page.description }}"/>
    <meta name="keywords" content="{{ page.keywords }}"/>
    <meta name="author" content="{{ page.author }}"/>
    
    <!-- Opne Graph -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title | default: 'Default Title' }}" />
    <meta property="og:description" content="{{ page.description | default: 'Default Description' }}" />
    <meta property="og:image" content="{{ page.image | absolute_url | default: '/default-image.jpg' }}" />
    <meta property="og:url" content="{{ page.url | absolute_url | default: site.url }}" />
    <meta property="og:site_name" content="{{ site.title | default: 'Default Site Name' }}" />
    <meta property="og:locale" content="{{ site.langauge }}" />
    <meta property="article:author" content="{{ page.author | default: 'Jaydatt Khodave' }}" />
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
    
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ page.title | default: 'Default Title' }}" />
    <meta name="twitter:description" content="{{ page.description | default: 'Default Description' }}" />
    <meta name="twitter:image" content="{{ page.image | default: '/default-image.jpg' }}" />
    <meta name="twitter:site" content="@{{ site.twitter_username | default: 'theblazetimes_x' }}" />
    <meta name="twitter:creator" content="@{{ page.creator_username | default: 'theblazetimes_x' }}" />
    
    <!-- Canonical -->
    <link rel="canonical" href="{{ page.url | absolute_url }}" />
    
    <!-- AMP Core and Story Library -->
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-story" src="https://cdn.ampproject.org/v0/amp-story-1.0.js"></script>
    <script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>
    <script async custom-element="amp-anim" src="https://cdn.ampproject.org/v0/amp-anim-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    
    <!-- CSS -->
    {% include css.html %}
    
    <!-- Google AdSense -->
    {% include adsense.html %}
    
  </head>
  
  <body>

    <!-- Google AdSense data-ad-client -->
    {% include data-ad-client.html %}
    
    <amp-story standalone
      title="{{ page.title }}"
      publisher="{{ site.title }}"
      publisher-logo-src="{{ site.publisher_logo }}"
      poster-portrait-src="{{ page.image }}">
      
      <!-- Content -->
      {{ content }}

      <!-- Google Analytics -->
      {% include analytics.html %}
      
    </amp-story>
  
  </body>

</html>
